{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- lien css  -->
    <link rel="stylesheet" href="{% static 'css/Connexion.css' %}" />

    <!--icones avec fontawesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Connexion</title>
  </head>

  <body>
    <div class="flex-r container">
      <div class="flex-r login-wrapper">
        <div class="login-text">
          <h1>Connexion</h1>
          <p>Accédez à votre emploi du temps</p>

          <form class="flex-c" method="POST">
            {% csrf_token %} {% if errors %}
            <div
              style="
                border: 1px solid red;
                padding: 1.2rem;
                color: red;
                margin: 0.5rem 0;
                text-align: center;
              "
            >
              {% for err in errors %}
              <p>{{ err }}</p>
              {% endfor %}
            </div>
            {% endif %}
            <div class="input-box">
              <span class="label">Email</span>
              
              <div class="flex-r input">
                <input name="email" type="email" placeholder="name@abc.com" />
                <i class="fa-solid fa-envelope"></i>
              </div>
            </div>

            <div class="input-box">
              <span class="label">Mot de passe</span>
              <div class="flex-r input">
                <input
                  name="password"
                  type="password"
                  placeholder="*************"
                />
                <i class="fas fa-lock"></i>
              </div>
            </div>
            <div class="check">
              <a href="{% url 'reset_password' %}">Mot de passe oublié ?</a>
              <br />
              <br />
              <input type="checkbox" name="" id="" />
              <span>Se souvenir de moi</span>
            </div>

            <input class="btn" type="submit" value="Se connecter" />
            <br />
            <span class="extra-line">
              <span>Vous n'avez pas de compte?</span>
              <a href="{% url 'inscription' %}">Inscrivez-vous</a>
            </span>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
