{% extends "Base.html" %}

{% block content %}

<div class="flex-r container bg-withe shadow ">
    <div class="flex-r login-wrapper">
        <div class="login-text text-center ">
            <h1>Connexion</h1>
            <p>Accédez à votre emploi du temps</p>

            <form class="flex-c">
                <div class="input-box">
                    <span class="label">Identifiant</span>
                    <div class=" flex-r input">
                        <input type="text" placeholder="name@abc.com">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                </div>

                <div class="input-box">
                    <span class="label">Mot de passe</span>
                    <div class="flex-r input">
                        <input type="password" placeholder="*************">
                        <i class="fas fa-lock"></i>
                    </div>
                </div>

                <div class="check">
                    <a href="#">Mot de passe oublié ?</a>
                    <br /> <br />
                    <input type="checkbox" name="" id="">
                    <span>Se souvenir de moi</span>
                </div>

                <input class="btn" type="submit" value="Se connecter">
                <br />
                <span class="extra-line">
                    <span>Vous n'avez pas de compte?</span>
                    <a href="{% url 'Inscription' %}">Inscrivez-vous</a>
                </span>
            </form>
        </div>
    </div>
</div>

{% endblock %}