{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accueil</title>
    <link rel="stylesheet" href="{% static 'css/Accueil.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="heading">
      <div class="head-container">
        <h1>
          <img
            src="{% static 'img/TechTimeTable.png' %}"
            alt="Logo TechTimeTable"
          />
        </h1>
        <h2>TechTimeTable</h2>
        <h3>
          Votre application web de gestion<br />
          d'emplois du temps
        </h3>
        <button type="button">
          <a href="{% url 'connexion' %}">Commencer</a>
        </button>
      </div>
    </section>

    <!-- POURQUOI TechTimeTable? -->
    <section>
      <div class="div-container">
        <h2>Pourquoi utiliser TechTimeTable ?</h2>

        <div class="grid-container">
          <div class="grid-item">
            <h3>Accès instantannés</h3>
            <p>
              Inscrivez-vous ou Connectez-vous pour directement acceder à votre
              emplois du temps
            </p>
          </div>

          <div class="grid-item">
            <h3>Notifications instantannés</h3>
            <p>
              Recevez des Notifications instantannés en cas de mise à jour de
              vos emplois du temps
            </p>
          </div>

          <div class="grid-item">
            <h3>Mode hors connexion</h3>
            <p>
              Téléchargez votre emplois du temps afin d'y acceder directement
              sur votre appareil.
            </p>
          </div>
        </div>
      </div>
    </section>
    <br />
    <br />
    <footer>
      <div class="footer-container">
        <p>© 2023 TechTimeTable. Tous droits réservés.</p>
      </div>
    </footer>
  </body>
</html>
