{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Inscription</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/Inscription.css' %}"
    />
  </head>

  <body>
    <div class="container">
      <h1>Inscription</h1>
      <form id="registration-form">
        <div class="label-group">
          <label for="account-type">Type de compte :</label>
          <select id="account-type">
            <option value="">-- Sélectionnez --</option>
            <option value="student">Étudiant</option>
            <option value="teacher">Enseignant</option>
            <option value="admin">Administration</option>
          </select>
          <br />
          <br />
        </div>

        <div id="student-details" class="details" style="display: none">
          <div class="label-group">
            <label for="student-matricule">Numéro matricule :</label>
          </div>
          <div class="input-group">
            <input type="text" id="student-matricule" required />
          </div>

          <div class="label-group">
            <label for="student-lastname">Nom de famille :</label>
          </div>
          <div class="input-group">
            <input type="text" id="student-lastname" required />
          </div>

          <div class="label-group">
            <label for="student-firstname">Prénom :</label>
          </div>
          <div class="input-group">
            <input type="text" id="student-firstname" required />
          </div>

          <div class="label-group">
            <label for="student-email">Adresse email :</label>
          </div>
          <div class="input-group">
            <input type="email" id="student-email" required />
          </div>

          <div class="label-group">
            <label for="student-username">Nom d'utilisateur :</label>
          </div>
          <div class="input-group">
            <input type="text" id="student-username" required />
          </div>

          <div class="label-group">
            <label for="student-password">Mot de passe :</label>
          </div>
          <div class="input-group">
            <input type="password" id="student-password" required />
          </div>

          <div class="label-group">
            <label for="student-confirm-password"
              >Confirmez le mot de passe :</label
            >
          </div>
          <div class="input-group">
            <input type="password" id="student-confirm-password" required />
          </div>

          <div class="label-group">
            <label for="filiere">Grade :</label>
          </div>
          <div class="input-group">
            <select id="grade" required>
              <option value="">-- Sélectionnez --</option>
              <option value="genie-logiciel">Licence 1</option>
              <option value="intelligence-artificielle">Licence 2</option>
              <option value="systeme-embarque-iot">Licence 3</option>
              <option value="securite-informatique">Master 1</option>
              <option value="multimedia">Master 2</option>
            </select>
          </div>
          <div class="label-group">
            <label for="filiere">Filière :</label>
          </div>
          <div class="input-group">
            <select id="filiere" required>
              <option value="">-- Sélectionnez --</option>
              <option value="genie-logiciel">Génie Logiciel</option>
              <option value="intelligence-artificielle">
                Intelligence Artificielle
              </option>
              <option value="systeme-embarque-iot">
                Système Embarqué et IoT
              </option>
              <option value="securite-informatique">
                Sécurité Informatique
              </option>
              <option value="multimedia">Multimédia</option>
            </select>
          </div>
        </div>

        <div id="teacher-details" class="details" style="display: none">
          <div class="label-group">
            <label for="teacher-lastname">Nom de famille :</label>
          </div>
          <div class="input-group">
            <input type="text" id="teacher-lastname" required />
          </div>

          <div class="label-group">
            <label for="teacher-firstname">Prénom :</label>
          </div>
          <div class="input-group">
            <input type="text" id="teacher-firstname" required />
          </div>

          <div class="label-group">
            <label for="teacher-email">Adresse email :</label>
          </div>
          <div class="input-group">
            <input type="email" id="teacher-email" required />
          </div>

          <div class="label-group">
            <label for="teacher-username">Nom d'utilisateur :</label>
          </div>
          <div class="input-group">
            <input type="text" id="teacher-username" required />
          </div>

          <div class="label-group">
            <label for="teacher-password">Mot de passe :</label>
          </div>
          <div class="input-group">
            <input type="password" id="teacher-password" required />
          </div>

          <div class="label-group">
            <label for="teacher-confirm-password"
              >Confirmez le mot de passe :</label
            >
          </div>
          <div class="input-group">
            <input type="password" id="teacher-confirm-password" required />
          </div>
        </div>

        <div id="admin-details" class="details" style="display: none">
          <div class="label-group">
            <label for="admin-lastname">Nom de famille :</label>
          </div>
          <div class="input-group">
            <input type="text" id="admin-lastname" required />
          </div>

          <div class="label-group">
            <label for="admin-firstname">Prénom :</label>
          </div>
          <div class="input-group">
            <input type="text" id="admin-firstname" required />
          </div>

          <div class="label-group">
            <label for="admin-email">Adresse email :</label>
          </div>
          <div class="input-group">
            <input type="email" id="admin-email" required />
          </div>

          <div class="label-group">
            <label for="admin-username">Nom d'utilisateur :</label>
          </div>
          <div class="input-group">
            <input type="text" id="admin-username" required />
          </div>

          <div class="label-group">
            <label for="admin-password">Mot de passe :</label>
          </div>
          <div class="input-group">
            <input type="password" id="admin-password" required />
          </div>

          <div class="label-group">
            <label for="admin-confirm-password"
              >Confirmez le mot de passe :</label
            >
          </div>
          <div class="input-group">
            <input type="password" id="admin-confirm-password" required />
          </div>
        </div>

        <div id="registration-buttons" class="button-container">
          <button type="submit">S'inscrire</button>
        </div>

        <br />
        <br />
        <br />
        <span class="extra-line">
          <span>Vous avez dejà un compte?</span>
          <a href="{% url 'connexion' %}">Connectez-vous</a>
        </span>
      </form>
    </div>

    <script src="{% static 'js/Inscription.js' %}"></script>
  </body>
</html>
